@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

$heightStandard: 100vh;
$widthStandard: 100vw;

input {
  border: 0px;
}

select {
  border: 0px;
}
